.bag {
  display: grid;

  grid-template-rows: 257px 50px 214px 1fr 1fr;
  grid-template-areas: "title" "subtitle" "." "bag_container" "order";
}

.title {
  grid-area: title;
  align-self: flex-end;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.subtitle {
  grid-area: subtitle;
  align-self: flex-end;
}

.main {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.minor {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
}

.bag_container {
  grid-area: bag_container;
}

.infoBar {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
  border-bottom: 1px solid gray;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 52px;
}

.order {
  grid-area: order;
  align-self: center;
  justify-self: end;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
}

.total,
.orderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  width: 287px;
  height: 68px;

  background: #F1EADC;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.orderBtn {
  width: 236px;
  height: 68px;
  background: #6E9C9F;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  transition: ease 0.5s;
}

.orderBtn:hover {
  background: #FFFFFF;
  color: #6E9C9F;
  border: 1px solid #6E9C9F;
}