.shop {
  display: grid;

  grid-template-rows: 257px 50px 276px 1fr 300px;
  grid-template-areas: "title" "subtitle" "categories" "items" "pagination";
}

.title {
  grid-area: title;
  align-self: flex-end;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.subtitle {
  grid-area: subtitle;
  align-self: flex-end;
}

.main {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.main:hover {
  opacity: 0.9;
}

.minor {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
}

.categories {
  grid-area: categories;
  align-self: center;
}

.items {
  grid-area: items;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pagination {
  grid-area: pagination;
  justify-self: center;
  align-self: center;
}

@media (max-width: 1200px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    column-gap: 100px;
  }
}

@media (max-width: 880px) {
  .items {
    column-gap: 20px;
  }
}

@media (max-width: 775px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
}

@media (max-width: 450px) {
  .items {
    justify-self: flex-start;
  }

  .pagination {
    justify-self: flex-start;
  }
}

@media (max-width: 400px) {
  .items {
    justify-self: center;
  }

}