.girl2 {
    position: absolute;
    left: 560px;
    top: 328px;
}

.girl3 {
    position: absolute;
    left: 1015px;
    top: 90px;
}

.rightBlock {
    position: absolute;
    width: 705px;
    height: 746px;
    background: #F1EADC;
    margin-left: 650px;
    top: 0;
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 0.5fr;
    grid-template-areas:
        "container girl1"
        "container girl1"
        "buttons girl1"
        "bullits girl1";
}

.container {
    grid-area: container;
    align-self: center;
}

.buttons {
    grid-area: buttons;
    justify-self: center;

    display: flex;
}

.button_down {
    width: 67px;
    height: 68px;
    background: rgba(110, 156, 159, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_down:hover {
    opacity: 0.7;
}

.button_open {
    width: 243px;
    height: 68px;
    background: #6E9C9F;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    cursor: pointer;
    transition: ease 0.5s;
}

.button_open:hover {
    border: 1px solid #6E9C9F;
    background-color: #FFFFFF;
    color: #6E9C9F;
}

.bullits {
    grid-area: bullits;
    justify-self: center;

    display: grid;
    grid-template-columns: 45px 45px 45px;
}

.bullit1,
.bullit2,
.bullit3 {
    width: 30px;
    height: 4px;
    background: #D1D1D1;
    justify-self: end;
}

.girl1 {
    grid-area: girl1;
    justify-self: end;
    position: absolute;
    left: 145px;
}

@media (max-width: 1607px) {
    .rightBlock {
        width: 690px;
        left: 250px;
    }
}

@media (max-width: 1540px) {
    .rightBlock {
        width: 635px;
        left: 250px;
    }
}

@media (max-width: 1519px) {
    .girl1 {
        left: 230px;
    }

    .girl2 {
        left: 642px;
    }

    .girl3 {
        left: 1100px;
    }
}

@media (max-width: 1400px) {
    .girl1 {
        left: 230px;
    }

    .girl2 {
        left: 672px;
    }

    .girl3 {
        left: 1100px;
    }
}

@media (max-width: 1340px) {
    .girl1 {
        left: 130px;
    }

    .girl2 {
        left: 600px;
    }

    .girl3 {
        left: 1000px;
    }

    .rightBlock {
        width: 744px;
        left: 85px;
    }
}

@media (max-width: 1205px) {
    .header {
        grid-template-columns: 585px;
        grid-template-rows: 500px 1fr 1fr;
        grid-template-areas: "container" "buttons" "bullits";
        align-items: center;
    }

    .girl1,
    .bullits,
    .buttons {
        justify-self: center;
    }

    .girl1 {
        left: 650px;
        top: 0;
    }

    .girl2 {
        left: 600px;
    }

    .girl3 {
        left: 950px;
    }

    .container {
        justify-self: start;
        z-index: 2;
    }

    .rightBlock {
        width: 629px;
        left: 18px;
    }
}

@media (max-width: 1020px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 100px 50px 1fr;
        grid-template-areas: "container" "buttons" "bullits" "girl1";
        align-items: center;
    }

    .girl1,
    .bullits,
    .buttons {
        justify-self: center;
    }

    .girl1 {
        position: static;
        grid-area: girl1;
    }

    .girl2 {
        left: 160px;
        top: 1050px;
    }

    .girl3 {
        left: 600px;
        top: 700px;
    }

    .container {
        justify-self: center;
        z-index: 2;
    }

    .rightBlock {

        width: 800px;
        left: -500px;
        top: 750px;
    }
}

@media (max-width: 900px) {
    .girl2 {
        left: 100px;
        top: 1050px;
    }

    .girl3 {
        left: 500px;
        top: 700px;
    }

    .rightBlock {
        width: 700px;
        left: -500px;
        top: 750px;
    }
}

@media (max-width: 730px) {
    .girl2 {
        left: 0px;
        top: 1050px;
    }

    .girl3 {
        left: 400px;
        top: 700px;
    }

    .rightBlock {
        display: none;
    }
}

@media (max-width: 620px) {
    .header {
        max-height: 750px;
        grid-template-rows: 500px 100px 50px;
        grid-template-areas: "container" "buttons" "bullits";
    }

    .girl2,
    .girl3,
    .girl1 {
        display: none;
    }
}