.important {
  display: grid;
  grid-template-rows: 130px 1fr 2fr;
  grid-template-areas:
    "."
    "title"
    "items";
}

.title {
  grid-area: title;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.items {
  grid-area: items;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1205px) {
  .important {
    display: grid;
    grid-template-rows: 130px 1fr 2fr;
    grid-template-areas:
      "."
      "title"
      "items";
  }

  .items {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    gap: 50px;
  }

  .title {
    align-self: center;
  }
}

@media (max-width: 830px) {
  .items {
    grid-template-columns: 1fr;
    justify-self: center;
    gap: 50px;
  }

}