@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

textarea,
input {
  outline: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

.map-container {
  width: 100%;
  height: 476px;
}

.Wrapper {
  width: calc(100vw - 100px);
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1010px) {
  .Wrapper {
    width: calc(100vw - 90px);
  }
}

@media (max-width: 910px) {
  .Wrapper {
    width: calc(100vw - 80px);
  }
}

@media (max-width: 810px) {
  .Wrapper {
    width: calc(100vw - 70px);
  }
}

@media (max-width: 710px) {
  .Wrapper {
    width: calc(100vw - 60px);
  }
}

@media (max-width: 610px) {
  .Wrapper {
    width: calc(100vw - 50px);
  }
}

@media (max-width: 510px) {
  .Wrapper {
    width: calc(100vw - 40px);
  }
}

@media (max-width: 410px) {
  .Wrapper {
    width: calc(100vw - 30px);
  }
}

@media (max-width: 310px) {
  .Wrapper {
    width: calc(100vw - 20px);
  }
}