.OneItem {
  display: grid;

  grid-template-rows: 114px 50px 102px 1fr 210px;
  grid-template-areas: "title" "subtitle" "." "item" ".";
}

.title {
  grid-area: title;
  align-self: flex-end;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #000000;
}

.subtitle {
  grid-area: subtitle;
  align-self: flex-end;
}

.main {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #000000;
}

.minor {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
}

.item {
  grid-area: item;

  display: grid;
  grid-template-columns: 536px 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr;
  grid-template-areas:
    "img price"
    "img sizes"
    "img addInBag";
  gap: 74px;
}

.img {
  grid-area: img;

  width: 536px;
  height: 729px;
}

.price {
  grid-area: price;
  justify-self: start;
  align-self: center;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0.02em;
  color: #998E78;
}

.sizes {
  grid-area: sizes;
}

.addInBag {
  grid-area: addInBag;
  align-self: start;
  width: 268px;
  height: 68px;

  background: #6E9C9F;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 138.9%;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.5s;
}

.addInBag:hover {
  background: white;
  border: 1px solid #6E9C9F;
  color: #6E9C9F;
}